extends layout

block content
  h1= title 
  
  p.well Bienvenido a #{title}
  <a href="pepe" class="btn btn-default">pepep</a>
  div prueba prueba 
    a.btn.btn-primary(href="/users/list") Usuarios
    
    
