extends layout

block content
        h1 Lista de registros de catálogo
        table.table.table-bordered.table-striped 
            for reg in regs
                tr
                    td
                        a.btn.btn-default(href="/catalogo/get/#{reg.identificador}")= reg.identificador
                    td= reg.titulo
                        
                    