extends layout

block content
        h1 Lista de registros de catálogo
        table 
            for reg in regs
                tr
                    td= reg.identificador
                    td
                        a.btn.btn-default(href="/catalogo/get/#{reg.identificador}")= reg.titulo
                        
                    